<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>MyClodeBlog(Gabriel Yago)</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" href="#">MyClodeBlog</span>

    </nav>
</header>

<main>
    <section>
    <div class="container " style="width:60%;padding-bottom:30px" >
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb " style="background-color:white; padding-left:0px">
                <li class="breadcrumb-item" aria-current="page"> <a href="/posts"> Posts </a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Post</li>

            </ol>
        </nav>

        <div>
            <th:block th:include="mensageValidation"></th:block>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="titulo" placeholder="Titulo *">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="autor" placeholder="Autor *">
                </div>
                <textarea name="texto"  class="form-control"  id="summernote" placeholder="Texto *"></textarea>

                <small class="form-text text-muted">(*) Campos obrigatorios</small>

                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>
                <a href="/posts" class="btn btn-light" role="button"  style="margin-top: 10px;">Cancelar</a>
            </form>
        </div>
    </div>
    </section>
    <script>
        $('#summernote').summernote({
        placeholder: 'Texto *',
        tabsize: 2,
        height: 300
    });
    </script>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>